[2017-09-23 08:28] PVince81 opened #2 "Release plan for first version"
The main goal for now is to get the first release out before end of September where Dropbox API v1 is out. Performance might not be good but being able to keep access to the data is more important to fill the gap.

### First version: before end of September

Open tasks:
- [x] finish and merge initial version: https://github.com/owncloud/files_external_dropbox/pull/1 (see review comments)
- [x] tak

[2017-09-23 08:28] PVince81 commented on #2
cc @pmaier1

[2017-09-23 08:32] PVince81 commented on #2
@Hemant-Mann can you take care ?

[2017-09-23 14:24] Hemant-Mann commented on #2
@PVince81 Caching adapter has been put in this app's namespace

[2017-09-23 14:26] Hemant-Mann commented on #2
Review Comments are fixed
1) Added the missing tags in app config
2) Removed background job which was using the polling api

[2017-09-25 09:45] hurradieweltgehtunter commented on #2
FYI: https://doc.owncloud.org/server/master/developer_manual/app/publishing.html
-> "Available product tags"
Screenshot(s) should be at 1400px width with an aspect ratio of 3:2
Description texts can be styled with markdown.

[2017-09-27 16:20] davitol commented on #2
[WIP] TestPlan for new DropBox app: https://github.com/owncloud/QA/issues/494

[2017-09-28 08:50] Hemant-Mann commented on #2
@hurradieweltgehtunter I used screenshot from this [https://github.com/owncloud/files_external_ftp](https://github.com/owncloud/files_external_ftp) app

[2017-09-29 14:08] pmaier1 commented on #2
marketing cleanup etc.: https://github.com/owncloud/files_external_dropbox/pull/5

[2017-09-29 16:05] pmaier1 commented on #2
I assume that on the technical side all is fine so far. Please double-check with the items in the list here @DeepDiver1975. -> Ready for release

[2017-10-02 06:43] DeepDiver1975 opened #8 "Use explicit versions in composer.json"
this is necessary to make use of caching in composer.

[2017-10-02 06:44] DeepDiver1975 opened #9 "setup transifex"

[2017-10-02 12:20] pmaier1 commented on #2
Reopening for v2

[2017-10-02 12:48] DeepDiver1975 commented on #2
new issue maybe? this issue is on milestone 1.0.0 which is released and closed?

[2017-10-02 12:53] pmaier1 opened #10 "[For 10.1] Dropbox External Storage Release 1.1.0"
# App release template

When marking a task as done, please add your name to the task!

### Reason
- Ironing out migration and better integration with core

### Open tasks

#### Still open from v1

- ~~IMPORTANT: write a migration that switches every oc_external_config entry that has the old Dropbox backend to the one from this app~~ => users need to recreate and reauthorize the endpoint anyway, s

[2017-10-02 12:53] pmaier1 commented on #2
Good point. https://github.com/owncloud/files_external_dropbox/issues/10

[2017-10-02 12:53] #2 closed

[2017-10-02 14:15] tboerger commented on #9
Solved at https://jenkins.owncloud.com/view/translation/job/translation-app-files-external-dropbox/1/

[2017-10-02 14:15] #9 closed

[2017-10-05 12:35] mmattel opened #12 "Dropbox oAuth v1 has been shut down on 2017 September 28th"
https://blogs.dropbox.com/developers/2017/09/api-v1-shutdown-details/

[code]

Can prove, my Dropbox connection with oAuth1 is not longer working...

[2017-10-05 12:46] patrickjahns commented on #12
@mmattel
This repository already contains the updated version for dropbox access.
Released here:
https://marketplace.owncloud.com/apps/files_external_dropbox

Release Announcement:
https://owncloud.org/blog/external-storage-dropbox/

[2017-10-05 13:17] mmattel commented on #12
Thanks,

just to let you know:
![image](https://user-images.githubusercontent.com/3321281/31229152-128bbf70-a9e0-11e7-9410-ce55556e4d75.png)
The new version (disabled) has the same name as the old one (enabled) which is somehow confusing...

[2017-10-05 13:26] DeepDiver1975 commented on #12
this will be fixed with the next release - fix is here #11

[2017-10-05 13:40] mmattel commented on #12
Sorry for the stupid question, but is from the ownCloud release announcement
``#10 Fill the details Client Id, Client Secrets from you Dropbox App page``
matching the ``App Key / App Secret`` from the dropbox page?`
I guess so as there is nothing else...

I entered all but still get a red square...
No negative feedack from Dropbox
If I try to enter a false url than it complains so communication wo

[2017-10-05 14:43] mmattel opened #13 "Dropbox setup with oC never succeeds (oAuth2)"
As discussed here: https://central.owncloud.org/t/dropbox-v2-integration-not-working/9795
the Dropbox setup does not succeed.
Following the procedure given from https://owncloud.org/blog/external-storage-dropbox/
everything seems to be setup and entered correct.
You can see the mount in the files app marked with a problem
You can delete the mount
You can try to reset it up without success
No log e

[2017-10-05 15:29] patrickjahns commented on #13
Can you provide more information?
What owncloud version are you using?

[2017-10-05 15:31] tomneedham commented on #13
@mmattel please check your browser network tab to see the responses from your owncloud server - these give some good feedback to what is happening.

[2017-10-05 15:57] mmattel commented on #13
oC 10.0.3, Ubuntu 16.04, php7, nginx, mysql
Client W7x64, Opera

Browser network response (I have replaced sensitive data by xyz):

Step 2 failed. Exception: Client error response [url] https://api.dropboxapi.com/oauth2/token?code=xyz&grant_type=authorization_code&client_id=xyz&client_secret=xyz&redirect_uri=https%3A%2F%2Fxyz%2Fsettings%2Fadmin%3Fsectionid%3Dstorage [status code] 400 [reason phras

[2017-10-05 16:06] mmattel commented on #13
I did some more digging and it seems that I found the cause.
When looking into the oauth2 client response, I particualry looked if the data entered regarding client_id and client_secret were exact as on the dropbox page. Astonishing the client_secret was identical to the client_id. Than I copied the client_secret to a text editor to see if the copied text was correct and from there I copied it int

[2017-10-05 19:24] neemzy commented on #13
As I stated in the OC Central thread, if you check https://github.com/Hemant-Mann/files_external_dropbox/blob/master/lib/Storage/Dropbox.php4 you'll see the constructor expects a configured parameter to be set to 'true', which isn't the case when I check my network tab as suggested by @tomneedham.

Please let me know if I can help any further!

[2017-10-05 21:33] patrickjahns commented on #13
@neemzy
I have tried to replicate the issue and achieved that invalid state but only by chance. I could not reliably reproduce that the XHR Request towards `apps/files_external/globalstorages` would not contain the configured parameter to be defined.

Can you provide steps to reproduce this issue? (What browser are you using?)

@mmattel
So I tried a couple of times to copy + paste the tokens, and

[2017-10-05 21:57] neemzy commented on #13
I tried with both Firefox and Chrome stable up-to-date. As I just mentioned on OC Central, I'm using CloudFlare for HTTPS. Could that be an issue?

[2017-10-06 06:36] mmattel commented on #13
@patrickjahns
To overcome that issue, it would be good as written above to have the data visible entered into the secret field and star it when connected. You can see the secret at the dropbox page anyway... This would help identify c/p errors.
Q: is it allowed to have white spaces at the secret at the begin or end ?

[2017-10-06 16:50] patrickjahns commented on #13
@mmattel
Might be an idea - the part for entering the credentials is provided by `files_external` app - need to have a look if we can override it specifically for this backend.

I don't think whitespaces are valid characters - we could discuss if adding a trim enhances the user experiences

[2017-10-09 09:23] PVince81 commented on #10
@Hemant-Mann do you have time to work on these ?

[2017-10-09 09:25] PVince81 commented on #13
Note that there is a likely potential race condition when dealing with OC, not sure if related: https://github.com/owncloud/core/issues/28479

[2017-10-09 12:30] patrickjahns commented on #13
@neemzy

I've investigated that issue further - and I've seen the following behavior:

Entering some values in the fields `Client ID` and `Client Secret` and waiting for a couple of seconds will trigger a request to `index.php/apps/files_external/globalstorages` that will fail with a 422 and as message
`{"message":"Unsatisfied authentication mechanism parameters"}`.
Still when pressing the `Grant

[2017-10-09 12:39] neemzy commented on #13
Yes, this is pretty much exactly the error I'm getting clientside (in my case, the endpoint URL ends with `userstorages` but I reckon that's because I'm setting it up for my own user account only and not globally as an admin - and my error message is in French because, well, I'm French, but it's the same). My investigations led me to the aforementioned constructor.

Please note that it only happen

[2017-10-09 18:43] Hemant-Mann commented on #10
Yes I am a little busy but if you could share the expected timeline for the release of v2 it would help to estimate the time required for the changes

[2017-10-09 18:45] Hemant-Mann commented on #10
I think the only major task from the checklist is the Migration

[2017-10-10 06:00] henry42 commented on #13
I have the same problem, I hack some codes so that the setup can continue. I think if you have the same problem, you can try it temporarily waiting for the update.
1. add `$.getScript("/apps/files_external_dropbox/js/dropbox.js");` at the first line of `apps/files_external/js/dropbox.js` .
2. modify the `apps/files_external_dropbox/vendor/tightenco/collect/src/Illuminate/Support/Collection.php` li

[2017-10-10 07:01] PVince81 commented on #13
sorting values??

[2017-10-10 07:17] henry42 commented on #13
maybe you can ignore this step 2, my php version is 5, if I do not modify `Collection.php`, it prints "PHP Parse error:  syntax error, unexpected '->'"

[2017-10-10 08:17] patrickjahns commented on #13
@neemzy

The 422 error you are seeing is expected behavior in the sense, it is tested if the parameters entered are correct to report the storage has been setup correctly (translates to red square or green circle). This is the wrong part to focus on.

We need to sort out, why the `grant access` button is not working for you - since this is the crucial step here.
What owncloud version are you using

[2017-10-10 08:41] PVince81 commented on #13
From reading https://github.com/owncloud/core/issues/28479 it seems that the grant call is done twice in parallel. So on some setups it might depend which one of the calls win, the right one or the wrong one.

[2017-10-10 09:21] neemzy commented on #13
I'm not so sure, because whatever triggers the AJAX call, I'd expect it to succeed if my credentials are correct - maybe you mean this specific call doesn't bother including a value for `configured` because it's pretty much expected to fail, but I'd still think it's weird.

However, the "Grant access" button does nothing so far indeed, so it's worth giving a try. My OC version is 10.0.3.3 and no,

[2017-10-10 09:24] henry42 commented on #13
@neemzy

have a look at your scripts loaded, in my case `files_external_dropbox/js/dropbox.js` is not loaded so that the button is not triggered

[2017-10-10 09:54] patrickjahns commented on #13
@neemzy

The credentials are only part of the setup required for oauth flow to be seen as complete. Once you enter ClientID+Secret you are still required to authorize the application requesting access to your Dropbox.

When the request is sent just with clientID+Secret it is still missing the token and thus it is expected to fail. So let's now focus on the `grant access` button and figure out why

[2017-10-10 09:58] patrickjahns commented on #10
I think we could push a v1.0.1 with at least the naming change on the marketplace? so it gets less confusing with two dropbox options

[2017-10-10 10:00] neemzy commented on #13
@patrickjahns

You're absolutely right, got it.
Yes, `dropbox.js` is loaded, [here are its contents from the console](https://dpaste.neemzy.org/paste/59dc9a2c6fe597e049898f2f#javascript) in case that helps.

[2017-10-10 10:00] henry42 commented on #13
Hi @patrickjahns, mine is 10.0.3 (upgraded from 9.x)

[2017-10-10 10:01] patrickjahns commented on #8
do you mean for the branches from @Hemant-Mann ?

[2017-10-10 10:03] henry42 commented on #13
@neemzy, it seems that we meet the same problem, it should be "app/files_external_dropbox/js/dropbox.js" not "apps/files_external/js/dropbox.js"

[2017-10-10 10:07] neemzy commented on #13
@henry42 Yes indeed, you're right!

[2017-10-10 10:13] PVince81 commented on #13
Before digging any further, could you guys please try with this core PR: https://github.com/owncloud/core/pull/29145

[2017-10-10 12:03] neemzy commented on #13
@PVince81 I just did, it doesn't help with the "Grant access" button doing nothing unfortunately.

[2017-10-10 12:04] PVince81 commented on #13
@neemzy thanks

[2017-10-11 11:55] neemzy commented on #13
@patrickjahns @PVince81

I think @henry42 has described the issue (wrong JS file loaded) very well; did you have the chance to investigate any further?

[2017-10-11 12:21] PVince81 commented on #13
According to the code, it should load the correct JS file: https://github.com/owncloud/files_external_dropbox/blob/master/lib/Backend/Dropbox.php#L47

@patrickjahns @davitol can you check in the network console which JS file is loaded for you ?

Can you guys @neemzy confirm that the Dropbox backend you have selected is indeed the one from this app, not the old one from core ? (not sure if the "v2"

[2017-10-11 12:22] patrickjahns commented on #13
@neemzy
There should be two dropbox.js files served - one from `apps/files_external/js/dropbox.js` (the one that is legacy v1 and part of files_external) and the other one via `custom/files_external_dropbox/js/dropbox.js` (which is from this bundle).

It is registered here: https://github.com/owncloud/files_external_dropbox/blob/master/lib/Backend/Dropbox.php#L47

[2017-10-11 13:52] neemzy commented on #13
@PVince81 Yes, I'm positive it is the right one, I disabled the legacy one from the admin panel to avoid making this mistake.

@patrickjahns I checked again and I only get the one from `files_external`.

[2017-10-11 14:32] PVince81 commented on #13
@neemzy so you are mounting Dropbox as a user, not admin, is that correct ? You unticked the legacy Dropbox from the list of allowed backends for users ?

@patrickjahns @davitol did you guys test with Dropbox mounted as user, not admin ?

[2017-10-11 14:37] davitol commented on #13
yes i did, there was an issue and it was solved before the release

[2017-10-11 14:39] davitol commented on #13
JFYI it is needed to add the personal url in the DropBox app developers console:

http://path/to/owncloud/index.php/settings/personal?sectionid=storage

not only http://path/to/owncloud/index.php/settings/admin?sectionid=storage

[2017-10-11 16:04] neemzy commented on #13
@PVince81 Yes, that is correct, but FYI I tried as an admin too (changing the callback URL in my Dropbox app accordingly) and got the same results. And yes, legacy Dropbox has been unticked as soon as I installed the extension for the new version, to avoid any mistake on my end.

[2017-10-12 05:51] henry42 commented on #13
@neemzy  @PVince81  @patrickjahns
I finally found the reason, and create a pull request

[2017-10-12 07:27] neemzy commented on #13
@PVince81 Yes, that is correct, but FYI I tried as an admin too (changing the callback URL in my Dropbox app accordingly) and got the same results. And yes, legacy Dropbox has been unticked as soon as I installed the extension for the new version, to avoid any mistake on my end.

[2017-10-12 07:52] PVince81 commented on #13
@henry42 great find! This will likely affect other external storages as well.

[2017-10-12 07:53] PVince81 commented on #13
PR here: https://github.com/owncloud/core/pull/29217

Those with the issue, please try it out!

[2017-10-12 08:04] neemzy commented on #13
Applying the changes made the "Grant access button" work and the external storage configuration apparently succeed. The configuration row was duplicated in the process somehow, but I just had to delete the duplicate.

Just a small issue: my "files" page is now empty. I mean, there's the menu on the left side, but the file list is empty. Even after removing the external storage. That's kinda inconv

[2017-10-12 08:11] neemzy commented on #13
Setting up the external storage now works, but the file list is broken (empty) until I remove it.
In the console, I can see a 500 response to a PROPFIND request to `https://owncloud.url/remote.php/webdav/`, and a JS error stating that `xml is null` (`var xml = response.xhr.responseXML;` in `client.js`).

[2017-10-12 08:12] PVince81 commented on #13
@neemzy please check the owncloud.log and error log, there should hopefully be an entry that matches this 500 error.

[2017-10-12 08:15] neemzy commented on #13
@PVince81 Yup.

`[Thu Oct 12 10:09:34.216917 2017] [:error] [pid 20347] [client 108.162.229.238:22565] PHP Parse error:  syntax error, unexpected '->' (T_OBJECT_OPERATOR) in /path/to/owncloud/apps/files_external_dropbox/vendor/tightenco/collect/src/Illuminate/Support/Collection.php on line 154`

[2017-10-12 08:23] PVince81 opened #14 "Must work with PHP 5.6"
Adjust composer.json to make sure the pulled libraries are compatible with PHP 5.

Once applied will likely require a full regression test, as this might pull older versions of some libraries which might or might not break it...

@Hemant-Mann

[2017-10-12 08:24] PVince81 commented on #13
Argh, it seems this is a third party library and composer doesn't enforce PHP 5.6. I raised a separate ticket for that: https://github.com/owncloud/files_external_dropbox/issues/14

[2017-10-12 08:25] PVince81 commented on #12
@mmattel is this related to https://github.com/owncloud/files_external_dropbox/issues/13. Close in favor of https://github.com/owncloud/files_external_dropbox/issues/13 ?

[2017-10-12 08:26] DeepDiver1975 commented on #14
And also setup travis and run tests on all supported php versions (5.6-7.1)

[2017-10-12 08:26] PVince81 commented on #10
Added "Must work with PHP 5.6". We might want to do another release once this is in place and tested, without waiting for 10.0.4.

[2017-10-12 08:56] neemzy commented on #13
I reckon we can close this issue if my remaining problem is unrelated and @henry42's PR works for other people :)

[2017-10-12 15:27] Hemant-Mann commented on #13
@neemzy could you share your composer.lock file that composer generated?

[2017-10-12 15:28] Hemant-Mann commented on #14
Composer already gets the php version from the environment so if it finds that I am running 5.6 it will not download any package that requires >=7.0

[2017-10-12 15:29] patrickjahns commented on #13
@Hemant-Mann
The composer.lock file is inside the repository - but it was created on a php7.1 environment (my environment) since it was missing. We need to re-create it on php5.6 and go through QA

[2017-10-12 15:30] Hemant-Mann commented on #14
Could you tell me how can i reproduce this bug? Because I have both PHP5.6 and PHP7.0 installed on my system
I removed PHP7.0 from the `$PATH` and then did a composer install without any change in config and it fetched library version compatible with php5.6
Repeated the same with php7 and resulted libraries were compatible with >= php7 only

[2017-10-12 15:32] Hemant-Mann commented on #13
Yes I think you are right
the version specified in the file - https://github.com/owncloud/files_external_dropbox/blob/master/composer.lock#L503 is only supported by php >= 7
see https://packagist.org/packages/tightenco/collect#v5.5.13

[2017-10-12 15:40] patrickjahns commented on #14
@Hemant-Mann
We do need to ship the composer dependencies pre-packaged (please download from marketplace.owncloud.com and check the tar archive).

[2017-10-12 15:41] Hemant-Mann commented on #14
Okay i got it that we have to preship them
but the preship packages will not work with php5 with current configuration

[2017-10-12 15:45] patrickjahns commented on #14
yes - we need to remove the composer.lock file and built one on php5.6 - actually did that with:

[code]

But I receive this error/problem:
[code]

`composer.lock` that was generated https://gist.github.com/patrickjahns/5030e5a7f0c275744e7f05bce8f5a089

(not tested against 7/7.1 yet)

[2017-10-12 16:18] patrickjahns commented on #14
@neemzy

Can you test  https://github.com/owncloud/files_external_dropbox/pull/15 combined with
 https://github.com/owncloud/core/pull/29225

When you checkout, please do a `make clean && make` in the `files_external_dropbox`

[2017-10-12 16:26] Hemant-Mann commented on #14
Hmm the composer.lock file now show `"php": ">=5.6.4"`

[2017-10-12 17:48] patrickjahns commented on #14
Not sure here - @PVince81 need to decide if it is valid to not support < 5.6.4 or if we need to.

I am working on travis right now - but I am not getting all tests green. Did all tests work for you?
Errors I am seeing:

[code]

[2017-10-13 07:20] PVince81 commented on #14
@Hemant-Mann people who install the dropbox app do so from the marketplace, so no "composer install" is run, all libraries are already packaged. So we need to make sure that the "composer install" is run for the correct versions at **packaging time**. We can't expect whoever builds the package to always run this on a PHP 5.6 env, so best is to enforce the version in composer.json.

@patrickjahns n

[2017-10-13 07:45] neemzy commented on #14
@patrickjahns I've backed up my `vendor` folder, copied the `composer.json` file from the repo (same revision as your changes) and ran `composer install` myself, which should be equivalent. And it worked!!

[2017-10-13 08:08] patrickjahns commented on #14
@neemzy
I am glad to hear that it works now! ✨

Just a question - did you copy `composer.json` or `composer.lock` ?

@PVince81
The latest 5.6 is 5.6.31 July 2017
Checking http://php.net/ChangeLog-5.php#5.6.4 - 5.6.4 was released in Dec 2014

[2017-10-13 08:10] neemzy commented on #14
@patrickjahns `composer.json`

My 2 cents: noone will be mad if you don't support an outdated minor version of an outdated major version of PHP. Just make it clear in the docs ;)

[2017-10-13 08:16] patrickjahns commented on #14
@neemzy
Do you mind trying with this `composer.lock` file? Switching `composer.json` shouldn't have made a difference

https://github.com/owncloud/files_external_dropbox/blob/af95f9883ec405a07eccfc3b00d7c3dcb0f49c97/composer.lock

[2017-10-13 08:20] neemzy commented on #14
@patrickjahns Of course it should, since I installed dependencies on my own system, which therefore took my PHP version into account. Here's the `composer.lock` that was generated: https://dpaste.neemzy.org/paste/59e07747886711875cdc3fa0#javascript

[2017-10-13 17:13] neemzy commented on #14
@patrickjahns That may be an unrelated issue, but I'm getting a lot of these:

[code]

It seems the Dropbox app is quite demanding towards my database :) If you want me to open another issue, please let me know and I will. Thanks!

[2017-10-14 08:39] patrickjahns commented on #14
@neemzy
please open a separate issue and provide intensive information how this correlates with dropbox app

[2017-10-14 09:00] neemzy opened #16 "Heavy database use"
As mentioned in https://github.com/owncloud/files_external_dropbox/issues/14#issuecomment-336513109 I'm getting a heavy database usage when trying to sync locally files coming from Dropbox through this app, which leads to a lot of timeouts. It only happens when I enable my Dropbox as external storage, everything else runs fine OC-wise.

Log excerpt:

[code]

I'm using MariaDB; I increased `max_con

[2017-10-16 08:12] PVince81 commented on #16
@neemzy is that the full stack trace ?

The Dropbox app has some caching mechanism in place so I expect it shouldn't cause that many DB calls.

Do you have many files in the storage ?

[2017-10-16 12:05] guruz commented on #16
Also could try https://stackoverflow.com/a/6479183/2941

[2017-10-16 12:10] neemzy commented on #16
@PVince81 This is the full stack trace indeed. And my DB account is reasonably large, but it worked flawlessly with the old version.

[2017-10-16 12:14] PVince81 commented on #16
@neemzy when exactly is the error happening ? When viewing the file listing ? When syncing ?

You could try to close all clients and try accessing the mount with a Webdav client and see if it happens there too.

[2017-10-16 12:17] neemzy commented on #16
@PVince81 "when trying to sync locally files coming from Dropbox through this app"

[2017-10-16 12:27] PVince81 commented on #16
Since we don't have the full stack trace, we need to find out what operation is causing the issue. It could be: PROPFIND (listing files), PUT (uploading files) or GET (downloading files).

So in your case it's about an uploading sync ?

[2017-10-16 12:31] neemzy commented on #16
I set up Dropbox as external storage on my ownCloud instance.
I then tried to retrieve those files locally on my Windows computer by ticking the newly available checkbox in the client.
It failed with a "Server replied: Origin timeout" message.
I checked my server's logs and pasted everything I have here.

[2017-10-16 12:32] guruz commented on #16
Maybe you get a clue from doing https://github.com/owncloud/files_external_dropbox/issues/16#issuecomment-336866675
That should also show which connection is trying what query?

[2017-10-16 12:34] neemzy commented on #16
Isn't "Too many connections" related to a number of connections to the database, as opposed to anything query-related?

[2017-10-16 12:36] PVince81 commented on #16
ownCloud normally only opens a single DB connection per PHP request.

Maybe something else is happening that is preventing existing connections to be closed in a clean way.

[2017-10-16 12:38] guruz commented on #16
Yes, but you would see what query from which connection is stuffing the server and could deduce from that which request or background job is triggering this.

[2017-10-16 13:57] neemzy commented on #16
That may be the key point here, given we're in an AJAX context. I'll try to find some time to log my database as requested.

[2017-10-17 08:02] neemzy commented on #16
That may be the key point here, given we're in an AJAX context. I'll try to find some time to log my database as requested.

[2017-10-19 14:30] #14 closed

[2017-10-23 07:50] mmattel commented on #12
It is indirect related with #13
I opend this because oAuth1 was shut down by DB and there are troubles with signing in with oAuth2 (#13)
The intention of this issue was to document this for all those who did not recognize the shutdown and were wondering about the non functional implemetation of the old DB connection...
Imho, this issue can be closed when #13 has been resolved and published.
Please

[2017-10-23 08:30] neemzy commented on #16
@PVince81 @guruz Here is the full log for my database for a local sync trial of my Dropbox-based folder: https://dpaste.neemzy.org/paste/59eda83cefbb5e4070bc4390#shell

It begins when I first tick the checkbox for this folder on my client (OSX, this time) and ends after failing once with the aforementioned error, trying again and failing again.

Maybe I should also mention I find myself running th

[2017-10-30 08:02] neemzy commented on #16
@PVince81 @guruz Hi guys, did anyone get a chance to look into this? May I provide more information to help?

[2017-11-02 16:31] guruz commented on #16
@neemzy I'd have expected to see a lot of requests at the same second (or close by) but the log doesn't.. mhm.
The ```Connect``` and ```Quit``` looks balanced too.

Maybe https://stackoverflow.com/questions/3638689/how-to-see-full-query-from-show-processlist and
https://alvinalexander.com/blog/post/mysql/how-show-open-database-connections-mysql can help?

CC @Hemant-Mann maybe..

[2017-11-02 17:04] Hemant-Mann commented on #16
Agree with @guruz
@neemzy You should enable the sync then may be try to see which queries are taking how much time.

The only slow component of the app while syncing the files is the request to the Dropbox API which gets the contents of a directory and for a single AJAX request this list is stored in memory to prevent subsequent calls to the API just to fetch metadata about files/folders

[2017-11-05 15:14] Hemant-Mann commented on #10
Hey @PVince81
I was look into Dropbox Webhooks API https://www.dropbox.com/developers/reference/webhooks
But it says that

And we have **only ten seconds to respond to webhook requests**

The solutions mentioned on the website are a) Use threads b) Async Queues
Any Ideas how we can achieve the same in owncloud

[2017-11-17 11:44] frantsch opened #18 "OAuth2 authentification fails, configuration can not be completed"
**Steps to reproduce**

     1. Create a Dropbox-App, indicating my Redirect URI and obtaining my App Key and App Secret for OAuth2 (following README.md on https://github.com/owncloud/files_external_dropbox/)
     2. Recieving a eMail-Message whereafter I successfully linked my owncloud domain with dropbox
     3. Installing the new Owncloud App "External Storage: Dropbox" (V1.0.0) into my ownclou

[2017-11-17 11:48] frantsch commented on #18
Sorry, I just realized that an issue on this is already existing:
https://github.com/owncloud/files_external_dropbox/issues/13

[2017-11-17 13:30] PVince81 commented on #18
@frantsch ok, now I see that the fix for #13 should be https://github.com/owncloud/core/issues/29225 which will be released in 10.0.4. Currently 10.0.4 is in RC1. You could either try with that version or patch your core with https://github.com/owncloud/core/issues/29225.patch

[2017-12-01 11:35] patrickjahns opened #19 "1.0.1 release checklist"
### Reason
- Release needed for having compatibility  with php 5.6 (version 1.0.0 vendor dependencies were built for php7+)
- This release will thus address #13 #18

### QA
- [x] Create release branch (@patrickjahns  - https://github.com/owncloud/files_external_dropbox/tree/release/1.0.1 )
- [ ] ~~Create "$version Testplan"~~
- [ ] ~~Test and document in testplan => Final "Go" from QA (set 'QA-rea

[2017-12-01 11:38] patrickjahns commented on #18
@frantsch
Could you try using the master branch from files_external_owncloud together with RC1 or the patch from vincent and see if this is still occuring

[2017-12-06 21:55] bobvandevijver opened #20 "Dropbox setup with oC does not work by default"
So, I've read #13, but I've also concluded that the fix there does not work for me.

What I needed to do to make the authorization work:
1. Reload the code from `dropbox.js` in Chrome debugger after adding the new storage line. When you add a new storage line, the new row with `td.configuration` was not yet available for the script, resulting in the eventhandler not working.
2. Accept at dropbox
3

[2017-12-08 09:13] PVince81 commented on #20
@bobvandevijver are you using the app from marketplace ? If yes, can you try building the app with `make` from this repository's master and try with that version ?

[2017-12-08 10:13] bobvandevijver commented on #20
I'm using the marketplace app, but I've verified the event handler before creating this issue. As you can see in [dropbox.js](https://github.com/owncloud/files_external_dropbox/blob/3e1fa56db5cb4e0b4e737064fcd9da296704b983/js/dropbox.js), the handler is only executed once, at page load.

I've also verified this using the master version (I've confirmed it was updated, as the storage is now called '

[2017-12-09 17:04] Hemant-Mann commented on #20
Hi @bobvandevijver I think this fiddle explains what is happening when you are trying to setup Dropbox
https://jsfiddle.net/82cwsprd/

@PVince81 the problem here is that https://github.com/owncloud/files_external_dropbox/blob/master/js/dropbox.js#L5
Here I am attaching events on elements like this `$('.configuration').on('oauth_step1'` but events are fired on dynamically created elements (which do

[2017-12-15 16:32] Hemant-Mann commented on #20
@PVince81 Thoughts?

[2017-12-16 19:52] bcutter commented on #18
Wow that´s quite tough. I´m strongly interested in how to solve this. Followed I think three or four references to get here. Anything I can test or contribute?

[2017-12-16 19:52] bcutter commented on #20
Wow that´s quite tough. I´m strongly interested in how to solve this. Followed I think three or four references to get here. Anything I can test or contribute?

[2017-12-19 16:16] PVince81 commented on #20
@Hemant-Mann for dynamically created elements, use delegates: http://api.jquery.com/on/ (search for "delegate"

Basically register the listener on a parent event but specify the child element's selector, so the handler will fire.

[2018-01-01 06:48] Hemant-Mann commented on #20
@bcutter I have added a fix for the issue in #21 Could you try with that?

@PVince81 I have modified the selectors for listeners accordingly

[2018-01-01 10:49] bobvandevijver commented on #20
I've just tested the fix, now it works correctly.

[2018-01-01 11:47] Hemant-Mann commented on #20
Thanks @bobvandevijver for the quick response

[2018-01-01 18:48] bcutter commented on #20
@Hemant-Mann

Nope, still not working. To be more specific: Nothing happens after clicking "Grant access" (besides the button being greyed out and the status indicator spinning and ending in RED after few seconds).

I really checked every thing multiple times. App key and secret correct (tried copy + paste as well as typing). No errors in Owncloud Log (set to 'warning' log level).

[2018-01-02 06:05] Hemant-Mann commented on #20
@bcutter Could you verify that **dropbox.js** loading is the new one having the changes of #21 ?

[2018-01-02 15:42] bcutter commented on #20
How to check? There is another dropbox.js in „/files_external/...“ but so don’t know which one is used. Maybe Web Developer mode of Browser during loading the site?

[2018-01-02 16:13] Hemant-Mann commented on #20
Check this image
<img width="1166" alt="js files" src="https://user-images.githubusercontent.com/10141396/34490412-d4418062-f005-11e7-9efa-358af9cc1c58.png">

[2018-01-02 16:48] bcutter commented on #20
Well both dropbox.js files are loaded (upper line is loading ".../files_external/js/dropbox.js"

![unbenannt](https://user-images.githubusercontent.com/13799156/34491750-0215689e-efe5-11e7-9801-15e20c00f10a.png)

How to rule this out (besides deleting the "wrong"/old dropbox.js)?

[2018-01-02 16:57] Hemant-Mann commented on #20
Your network panel says **304 Not Modified** for dropbox.js
please select the **Cache Deactivation** check box and reload the page

[2018-01-03 19:04] bcutter commented on #20
No difference. Without cache I get two 200 GET. Same result.

[2018-01-04 08:30] bcutter commented on #20
No I didn’t because I‘m no developer or web application expert. I asked two times how to rule out the second dropbox.js (why is it still there?) - no answer. Unfortunately I don’t have more time to test things - in some weeks I meanwhile spend more time fixing or working around bugs in OwnCloud and its applications than using OC productively.

Anyway, you guys will fix this without me I‘m sure. I‘

[2018-01-04 08:40] bobvandevijver commented on #20
I believe @Hemant-Mann posted an image on how to exactly check what content is served in the `dropbox.js` from the `files_external_dropbox` folder.

The `files_external/dropbox.js` file is a file which belongs to the Owncloud core (it's the original, outdated dropbox plugin which is no longer functional), so it actually has nothing to do with this project/plugin (which is probably why your questio

[2018-01-08 09:52] PVince81 commented on #20
Should be fixed through https://github.com/owncloud/files_external_dropbox/pull/21

[2018-01-08 09:52] #20 closed

[2018-01-08 10:00] SergioBertolinSG opened #22 "Test files_external_dropbox 1.0.1"
Bugs fixed:
   https://github.com/owncloud/files_external_dropbox/issues/23
   https://github.com/owncloud/files_external_dropbox/issues/26
Bugs not fixed so far:
   https://github.com/owncloud/files_external_dropbox/issues/27

| Test Case                                | Expected Result                          | Result         | Related Comment |
| ---------------------------------------- | ----

[2018-01-08 10:08] patrickjahns commented on #19
I think https://github.com/owncloud/files_external_dropbox/pull/21 should be included - so we should create a new branch ?

[2018-01-08 10:40] Hemant-Mann commented on #18
I think this should be fixed in v1.0.1 @patrickjahns ?

[2018-01-08 10:42] Hemant-Mann commented on #19
The branch https://github.com/owncloud/files_external_dropbox/tree/release/1.0.1 is shown to be in sync with **master** branch

[2018-01-08 12:18] patrickjahns commented on #19
@SergioBertolinSG
has created a new branch from master for QA

[2018-01-08 13:58] SergioBertolinSG opened #23 "Setting up dropbox storage returns a 422 status code and grant access doesn't redirect."
### Steps to reproduce

0. Enable dropbox app. (release/1.0.1).
1. Having an external storage available in dropbox.com. Set it up in the storage section of admin settings.

### Expected behaviour
Click in "grant access" button  redirects to dropbox site to allow access.

### Actual behaviour
Grant access button doesn't redirect anywhere.

When completing the form we can see a POST request failing:

[2018-01-08 15:02] Hemant-Mann commented on #23
Hi @SergioBertolinSG I remember @PVince81 explaining in some issue that this request will result in 422 because storage is not yet authenticated or something (don't remember exactly why)

But **Grant Access** Button works for me
Could you verify that the dropbox.js loaded contains the changes of #21 ?

[2018-01-08 15:39] davitol commented on #23
Works for me too using release/1.0.1 branch. If @SergioBertolinSG can reproduce it again please reopen it.

[2018-01-09 08:50] SergioBertolinSG commented on #23
@Hemant-Mann yes, it is including changes from  #21 .

[2018-01-09 09:14] SergioBertolinSG commented on #23
OK, I have seen this working when having two elements in the external storages list:

![screen shot 2018-01-09 at 10 13 50](https://user-images.githubusercontent.com/9048796/34713228-e5a8f5c2-f525-11e7-9fec-7a6015857e8d.png)

It should work also having only one element.

[2018-01-09 10:54] Hemant-Mann commented on #23
Hi @SergioBertolinSG
Could you provide a screenshot of Network Tab displaying the contents of **dropbox.js**?

[2018-01-09 10:55] Hemant-Mann commented on #23
Because for me it works regardless of number of elements

[2018-01-09 11:07] SergioBertolinSG commented on #23
I guess you mean debugger tab?

![screen shot 2018-01-09 at 12 06 06](https://user-images.githubusercontent.com/9048796/34718061-9798291a-f535-11e7-87de-8a5a3b33d028.png)

[2018-01-09 11:13] Hemant-Mann commented on #23
I don't know it works for me
You can see there is one request that results in 422 and one request for getting OAuth2 URL
<img width="1191" alt="screen shot 2018-01-09 at 4 40 41 pm" src="https://user-images.githubusercontent.com/10141396/34718272-11b89b64-f55c-11e7-9bbb-77dbd65413ea.png">

[2018-01-09 12:14] davitol commented on #23
@SergioBertolinSG @Hemant-Mann It works fine in oC core master version, but it is reproducible in 10.0.4 oC Core version

[2018-01-09 13:34] PVince81 commented on #23
I debugged this and you need to have both the GDrive backend existing and this app (master) to reproduce the issue.

When testing OC core master, the GDrive backend is gone (moved to separate repo), so the Dropbox auth works.

However when gdrive.js is there, it fails because the jquery event handler is returning `false`, which internally calls `event.preventDefault()` and `event.stopPropagation()

[2018-01-09 13:35] PVince81 commented on #23
TODOs:
- [ ] GDrive app repo
- [ ] Dropbox app
- [ ] GDrive in stable10 (bundled)

[2018-01-09 13:43] PVince81 commented on #23
@Hemant-Mann please review all PRs from https://github.com/owncloud/files_external_dropbox/issues/23#issuecomment-356285214

@SergioBertolinSG can you retest with the PRs in question ? Make sure to retest both Dropbox and Gdrive

[2018-01-09 13:48] Hemant-Mann commented on #23
@PVince81 i read your explanation regarding the issue, i remember reading something similar that returning false is supposed to do this.
If that's the case then PRs should fix the problem
Reviewed all three

[2018-01-09 14:50] PVince81 commented on #23
Thanks.

For those who want the fix right away, need to patch core with https://github.com/owncloud/core/pull/30071 and use the dropbox app's release/1.0.1 branch.

[2018-01-09 14:50] #23 closed

[2018-01-09 14:52] SergioBertolinSG commented on #23
Working fine with 10.0.4 + https://github.com/owncloud/core/pull/30071
And files_external_dropbox from release/1.0.1 branch + https://github.com/owncloud/files_external_dropbox/pull/24

[2018-01-09 16:32] SergioBertolinSG opened #26 "Slow performance"
This app depends on dropbox api responses and much of the retardation can come from Dropbox servers. But, using previous app we could navigate the files much more quickly. Obviously not as quickly as the local files view, but definitely faster than current approach.

Making some measurements (depending on the network, yes, but can show us an estimation):

[code]

Being that script this code:

[cod

[2018-01-09 17:44] SergioBertolinSG opened #27 "File and folder names are converted to lowercase"
### Steps to reproduce

0. Enable dropbox app. (release/1.0.1).
1. Set up dropbox mount point, grant access and so on. (all ok).
2. Upload in the dropbox backend several files having uppercase characters.
3. Access dropbox folder using owncloud.

### Expected behaviour
Files keep their case.

### Actual behaviour
All file names are converted to lowercase.

It happens also when uploading files.

##

[2018-01-10 05:45] Hemant-Mann commented on #27
@SergioBertolinSG This is a known behaviour

Dropbox file system is case insensitive meaning FOO.txt or foo.txt or Foo.txt are all the same.
I tried to maintain the case while fetching the files/folder list but the Dropbox API was not sending correct response due to which not all the files were visible so I converted all the names to lowercase

[2018-01-10 05:57] Hemant-Mann commented on #26
@SergioBertolinSG Could you provide an estimate of number of files/folders in your Dropbox App?

Although I have written a Cacheable adapter on top of Flysystem adapter which will prevent multiple calls to API (which are sent by oC while fetching the metadata of files)

It may be related to trying to sync a large number of files for the first time

[2018-01-10 07:48] SergioBertolinSG commented on #26
15 files, 1 folder with 4 files inside a subfolder.

[2018-01-10 07:50] Hemant-Mann commented on #26
Oh that is not large.
Ok I will try to debug this

[2018-01-10 08:13] SergioBertolinSG commented on #27
https://www.dropbox.com/developers/documentation/http/documentation

"Also, while Dropbox is case-insensitive, it makes efforts to be case-preserving. Metadata.name will contain the correct case. Metadata.path_display usually will contain the correct case, but sometimes only in the last path component. If your app needs the correct case for all components, it can get it from the Metadata.name or l

[2018-01-10 08:41] SergioBertolinSG commented on #27
Changing to critical as it is considered a regression from the previous app.

[2018-01-10 08:42] Hemant-Mann commented on #27
In my dropbox app I have a folder **Foo** with this directory structure
[code]
When I fetch the list of files using dropbox API
[code]

Note that the last file path is being displayed as --> "path_display": "/foo/bar/baz.txt", whereas it should have been "path_display": "/Foo/bar/baz.txt" and **due to this small change in filename this file will not be displayed by Dropbox App** because the underl

[2018-01-10 08:46] PVince81 commented on #27
This listing looks really weird. Why would Dropbox keep the casing for all entries in path_display except for the last entry ? This is inconsistent.

Seems this would require to override flysystem behavior to make it cope with this

[2018-01-10 08:47] PVince81 commented on #27
From https://www.dropbox.com/developers/documentation/http/documentation

[2018-01-10 09:04] Hemant-Mann commented on #27
Okay so how do you propose we should do this?

[2018-01-10 09:23] SergioBertolinSG commented on #26
I have find that the file list loading is much faster in firefox 57.

[2018-01-10 09:34] PVince81 commented on #27
I'm not familiar enough with Flysystem. Do you think there is a way to bypass or replace Flysystem's default handlers or is that not possible at all ? If not possible at all, might need to ask the Flysystem project for more flexibility :-/

[2018-01-10 09:45] Hemant-Mann commented on #27
I think may be we could make some modified classes which extends vendor classes and override the functions like we have done here ?https://github.com/owncloud/files_external_dropbox/blob/master/lib/Storage/Adapter.php#L30

[2018-01-11 08:51] SergioBertolinSG commented on #22
Final considerations:

https://github.com/owncloud/files_external_dropbox/issues/27 - This one is almost fixed in https://github.com/owncloud/files_external_dropbox/pull/28 but it is still missing some control of the different case situation of two filenames, see comments https://github.com/owncloud/files_external_dropbox/pull/28#issuecomment-356669989 and https://github.com/owncloud/files_externa

[2018-01-29 09:57] PVince81 commented on #26
@Hemant-Mann pointed out that `file_exists` is not using the stat cache here: https://github.com/owncloud/files_external_dropbox/pull/28#issuecomment-361187696

So solving this will hopefully fix most performance issues.

[2018-02-01 11:05] patrickjahns commented on #19
@SergioBertolinSG @Hemant-Mann
With the changes / fixes being introduced right now, I'd propose to bump the minor version and have a `1.1.0` release - to be done when #27 is fixed

[2018-02-01 11:07] Hemant-Mann commented on #19
Sounds Good 👍

[2018-02-03 19:27] bcutter commented on #18
Updated to OC v10.0.6.1 today. Still not working, even they claimed to remove the old Dropbox module support (even worse the new one still doesn´t work).

[2018-02-04 15:04] patrickjahns commented on #18
@bcutter
Please give some more insight - have you used the app from the marketplace or the pending release from source?

[2018-02-04 17:31] bcutter commented on #18
@patrickjahns: Marketplace.

[2018-02-05 11:20] patrickjahns commented on #18
@bcutter
There is a pending release - with fixes included - please try it

Note - a known issue is #27 - we will move forward with releasing the minor fixes until it can be resolved

[2018-02-05 13:31] SergioBertolinSG commented on #26
Fixed in https://github.com/owncloud/files_external_dropbox/pull/29

[2018-02-05 13:31] #26 closed

[2018-02-05 13:46] SergioBertolinSG commented on #19
Tested and working fine. Only this issue is left https://github.com/owncloud/files_external_dropbox/issues/27

It will be fixed in following versions.

[2018-02-08 14:11] patrickjahns commented on #13
1.0.1 is in marketplace - issue should be resolved

[2018-02-08 14:11] #13 closed

[2018-02-08 14:11] patrickjahns commented on #18
@bcutter
1.0.1 version is released on marketplace, issue should be resolved

[2018-02-08 14:11] #18 closed

[2018-02-08 23:29] patrickjahns commented on #12
Closing - 1.0.1 release is on marketplace

[2018-02-08 23:29] #12 closed

[2018-02-09 10:13] patrickjahns commented on #19
@Hemant-Mann
Once the lowercasing #27 is fixed - we can plan the next release (1.1.0) -> closing since 1.0.1 is released

[2018-02-09 10:13] #19 closed

[2018-02-09 10:13] patrickjahns commented on #22
Closing with 1.0.1 release

[2018-02-09 10:13] #22 closed

[2018-02-09 12:01] Hemant-Mann commented on #19
@patrickjahns I commented on your review and there is nothing more to do in #28 as @PVince81 pointed out https://github.com/owncloud/files_external_dropbox/pull/28#issuecomment-362234401

[2018-02-10 20:37] cdamken opened #31 "Can't delete file at the first try."
I installed the 1.0.1 version.

Now I can connect without problems to Dropbox. 👍

I tried to delete some files and the first time it says it's not possible to delete the file, the second time I try to delete,  the file can be deleted.

Log:
[code]

[2018-02-11 15:34] bcutter commented on #18
I can confirm the bug is **finally** fixed (using 1.0.1 from marketplace).

[2018-02-12 08:41] PVince81 commented on #31
@cdamken can you post the exact path is it exists in Dropbox and as it exists in ownCloud ?

Could be the uppercase/lowercase issue

cc @Hemant-Mann

[2018-02-12 12:12] patrickjahns commented on #31
@SergioBertolinSG
Have you seen this issue during testing?

[2018-02-12 13:24] SergioBertolinSG commented on #31
I can reproduce it. I thought this was related with the slow performance during testing.

[2018-02-12 14:28] Hemant-Mann commented on #31
I am also able to reproduce it
I debugged this what i observed
- File was removed from Dropbox but error in ownCloud
- After file was removed there was a call to `file_exists` function which returned true (because of stat cache present with the adapter this is where the problem is)

I'll open a PR to address this and work on fixing the Unit Tests so as to prevent these kind of issues in future

[2018-02-12 16:49] cdamken commented on #31
I have in: `/External-Storages/Ext-Dropbox`

I mounted in a sub-directory

[2018-02-14 05:50] Hemant-Mann commented on #16
@neemzy Any improvements with the 1.0.1 version of the app?

[2018-02-14 09:57] neemzy commented on #16
I've finally been able to synchronize my Dropbox account locally by restarting the database on my server. I suspect some third-party load on my end was the root cause. I'll still update and let you know if anything interesting happens, but in the meantime I reckon we can close this issue. Thanks for your work!

[2018-02-14 09:57] #16 closed

[2018-02-16 12:31] SergioBertolinSG opened #33 "Renaming of files to a different case leads to file duplication."
### Steps to reproduce

0. Enable dropbox app. (release/1.0.1).
1. Set up dropbox mount point, grant access and so on. (all ok).
3. Upload a file for example perrito.jpg.
4. Rename it to a different case combination for example PERRITO.jpg.
5. See the warning and refresh the page.

### Expected behaviour
There is a warning informing that you cannot rename the file because it is already in use. (Ma

[2018-02-16 14:02] voroyam opened #34 "Can't integrate App"
Tested with DamkenCloud and a DropBox Account.

We have tried following the manual at:

https://doc.owncloud.com/server/10.0/admin_manual/configuration/files/external_storage/dropbox.html?highlight=dropbox

The redirect URL :

hostname
https://cloud.damken.com/index.php
hostname ... personal ....
https://cloud.damken.com/index.php/settings/personal?sectionid=storage
hostname ... admin ....
https:/

[2018-02-17 04:56] Hemant-Mann commented on #34
@voroyam Could you provide some more details like
- Contents of owncloud.log
- owncloud version
- Any error message displayed while integrating the app

[2018-02-17 12:59] voroyam commented on #34
Yeah, about that:
There is nothing in the log.
I tried it yesterday with a service that tunnels the localhost outside. something "ngorg".
I could integrate the dropbox app with 10.0.6 and 10.0.4 and @IljaN managed it even with 10.0.7.
In all the cases no message was given in the owncloud.log. I tried to enter the redirect URL as just the host name, like it's described in the documentation, to prov

[2018-02-19 13:09] voroyam commented on #34
issue can be closed, tests were successful. Maybe dropbox had a bug for one day.

[2018-02-22 04:47] patrickjahns commented on #34
@voroyam

I've seen the following behavior with dropbox - that might cause irritation with users
- propagation delay (when first creating a new app / changing the secret/key it takes some time for dropbox to actually work with them)
- copy+pasting key/secret from the dropbox website sometimes seem to add extra (whitespace?) chars - thus also failing
=> It quite often helps to copy+paste key/secet

[2018-02-22 08:48] voroyam commented on #34
Okay, but have you an explanation for ownCloud not responding?

You enter all the credentials, click on grant access, maybe get redirected to drop box, allow the access there, then the share is still red, you click on grant access again and nothing happens.

or you just fail the first time, get no redirect, and nothing happens.

no errors in the log file.

It's weird that it works now and did not

[2018-02-22 09:43] IljaN commented on #34
- I can consistently mount a dropbox share as an admin for all users without problems (Storage under Admin Options)
- The storage option under User Settings fails for some reasons, @cdamken  even managed to bring the ui in a inconsistent state.

[2018-02-22 16:27] Hemant-Mann commented on #33
@SergioBertolinSG Not sure what this could be fixed in dropbox

I'll try to keep it simple
- Consider Your file **ABC.txt** exists in dropbox and then you try to upload **abc.txt** (same file different name casing)
- ownCloud then asks the dropbox whether this file -> `abc.txt` exists which it does
- then ownCloud sees that this file is not present in `oc_filecache` but exists in dropbox so it thi

[2018-02-23 23:18] patrickjahns commented on #34
@IljaN
Please provide some steps to reproduce

[2018-02-26 09:29] SergioBertolinSG commented on #33
@jvillafanez how does WND solves this problem?

[2018-03-13 20:35] patrickjahns commented on #34
@IljaN
any update here?

[2018-04-06 22:07] tomneedham commented on #34
I can reproduce in my production instance. I click 'grant access' and it just greys out and nothing happens.

[2018-04-08 12:58] tomneedham commented on #34
Yes, upgrading core/app fixed this.

[2018-04-13 10:59] IljaN commented on #34
Works!

![dboxworks](https://user-images.githubusercontent.com/246983/38731384-43a441fc-3f1a-11e8-9fff-e9102a38fb86.png)

@voroyam We might need to update docs to include two redirect-urls in dropbox app settings

https://374a2caa.ngrok.io/index.php/settings/admin?sectionid=storage
https://374a2caa.ngrok.io/index.php/settings/personal?sectionid=storage

Depending if you create a global or personal

[2018-04-13 10:59] #34 closed

[2018-04-13 11:07] voroyam commented on #34
docs were updated :)

[2018-04-24 08:58] PVince81 commented on #27
As I understand this was addressed with https://github.com/owncloud/files_external_dropbox/pull/28 and led to new issue https://github.com/owncloud/files_external_dropbox/issues/33 ?

Closing this ticket then, please reopen if I got it wrong

[2018-04-24 08:58] #27 closed

[2018-04-24 09:34] Hemant-Mann commented on #27
yes this was fixed in #28

But #33 is an issue in ownCloud itself not with dropbox

[2018-04-24 09:36] Hemant-Mann commented on #31
This should be fixed by #32

We should close this as well

[2018-04-24 09:39] PVince81 commented on #31
thanks

[2018-04-24 09:39] #31 closed

[2018-05-09 17:10] mmattel opened #35 "php-cs-fixer"
@DeepDiver1975
Any plans to implement ``php-cs-fixer`` as we have in core ?

[2018-06-20 09:48] davitol opened #36 "DropBox Folder does not show the Dropbox logo"
The folder of the DropBox mount should show and icon like it happens for example in WND. The current behavior is that it shows the external storage icon

![screen shot 2018-06-20 at 11 43 38](https://user-images.githubusercontent.com/10596560/41650950-9555dd90-747f-11e8-9f6c-3eb4f598fc79.png)

[2018-10-09 09:42] mmattel opened #37 "Issues using dropbox app"
**Environment:**
ownCloud 10.0.10 (stable) on Ubuntu 16.04, nginx, php 7.0, mysql
Client 2.5.0 on Windows10x64
Dropbox App 1.0.1 via Marketplace

**Setup:**
Mount a dropbox with existing files and folders and let that mount get synced via the client locally.

**Issues:**
1.) Lowercase I
- Having the sync relationship setup successfully, all content gets first time synced (downloaded) to the local

[2018-10-18 07:58] mmattel commented on #37
Update: case 3 got fixed with https://github.com/owncloud/client/pull/6800, already merged.

Any updates on 1, 2 and 4?

[2018-10-18 12:37] ckamm commented on #37
The lowercasing you're seeing is from https://github.com/owncloud/files_external_dropbox/issues/27 - which looks like it's been fixed in a PR, but there's no release containing it yet.

Currently the desktop client doesn't support working with servers that don't preserve file path casing as far as I'm aware. It's probably mostly ok on windows (because that isn't case sensitive either), but will fa

[2018-10-24 09:15] PVince81 commented on #10
PR for changelog to get a view of what has changed since 1.0.1: https://github.com/owncloud/files_external_dropbox/pull/38

we'll look into releasing the app as is

@Hemant-Mann would you have time to remove the flysystem adapter which you moved to core before we do so ? if not we'll leave the app as is, it's ok

[2018-10-24 13:56] Hemant-Mann commented on #10
Hi @PVince81

to be honest it's been quite a time since I last worked on core so it might take some time to do that

[2018-10-29 14:03] PVince81 commented on #10
@Hemant-Mann yes, I understand. The Dropbox app isn't high on the list of "to release" so this leaves a bit of time. If you don't have time to do it it's also ok.

[2018-11-13 15:57] patrickjahns opened #40 "Avoid packaging vcs files for composer dependencies"
The current released dropbox app contains the vcs directories at `vendor\hemant-mann\flysystem-dropbox\.git\` and `vendor\kunalvarma05\dropbox-php-sdk\.git\`.

We shall not include those in the release tarball

[2018-11-13 16:11] cdamken commented on #40
@PVince81 could we release a new tar (even with the same version?

[2018-11-15 14:41] PVince81 commented on #40
I think we should release a new version anyway soon as we have pending changes and need a re-release for the semver changes.

If this is bothersome I can increase priority and have this out without the semver bits.

[2018-11-15 14:41] PVince81 commented on #10
- [ ] fix packaging: https://github.com/owncloud/files_external_dropbox/issues/40

[2018-11-15 15:04] PVince81 commented on #40
makefile fix here: https://github.com/owncloud/files_external_dropbox/pull/41

[2018-11-16 08:18] #40 closed

[2018-11-23 16:40] PVince81 commented on #37
renaming a file with similar casing is also a general issue in core and Sabre, see https://github.com/owncloud/core/issues/17161

[2018-11-23 16:41] PVince81 commented on #37
these issues should really be separate tickets. we'll recheck them before releasing the latest app state to see if they still exist and raise tickets accordingly

[2018-11-23 16:42] PVince81 commented on #10
I've added "verify potential existing issues: https://github.com/owncloud/files_external_dropbox/issues/37" to confirm whether the lowercase issue and others are still happening. Tickets should be raised then.

[2018-11-23 16:43] PVince81 opened #42 "Remove local flysystem cache adapter"
- [ ] remove flysystem caching adapter from the files_external_dropbox
- [ ] adjust files_external_dropbox to use core's flysystem caching adapter

[2018-11-23 16:44] PVince81 commented on #10
raised https://github.com/owncloud/files_external_dropbox/issues/42 to address the "flysystem cache adapter" tech debt items. we'll release without that for now

[2018-11-29 19:08] davitol opened #44 "Tracking results for Dropbox External Storage Release 1.1.0"
## 'Files_external' Test Plan

## Previous requirements

Tested with stable10 tarball and the Dropbox app tarball located in: https://cloud.owncloud.com/index.php/s/KTwSnsPUmccpQpQ

Enable LDAP, external storage,

Have a LDAP server ready to be used with owncloud.

Have ready Dropbox external storage configuration.

## Testing setup

TestID | Test Case | Expected Result | Result | Related Comment

[2018-11-29 19:56] davitol commented on #10
<img width="742" alt="screen shot 2018-11-29 at 20 14 11" src="https://user-images.githubusercontent.com/10596560/49248097-3aa43580-f419-11e8-87e3-f377edebdef0.png">

Using the tarball posted above and trying to install it in ownCloud 10.0.10

[2018-11-29 20:41] PVince81 commented on #10
@davitol the tarball had two issues:
- VCS files were included in signature but excluded later in tar
- tar was truncating long path names resulting in missing file names during signature check...

all fixed in commit https://github.com/owncloud/files_external_dropbox/commit/9fa04e22869b232ea5914067c16fefbfa61a5a4a

please retest with RC2 https://cloud.owncloud.com/index.php/s/KTwSnsPUmccpQpQ

[2018-11-29 22:07] PVince81 commented on #44
- [ ] check items from https://github.com/owncloud/files_external_dropbox/issues/37

@davitol mind checking the above as well ? they could become more bug reports...

[2018-12-03 11:36] felixheidecke opened #45 "jQuery 3 Upgrade"
# jQuery 3 Upgrade

See the full [upgrade 3.0 guide](https://jquery.com/upgrade-guide/3.0/)

## Event

`.on()`

- [x] /js/dropbox.js

[2018-12-03 11:36] felixheidecke commented on #45
Works as intended

[2018-12-03 11:36] #45 closed

[2018-12-06 05:14] phil-davis commented on #35
Part of issue https://github.com/owncloud/QA/issues/582

Includes "standardize CI"

[2018-12-12 09:41] phil-davis commented on #35
PR #46 merged

[2018-12-12 09:41] #35 closed

[2018-12-13 10:36] davitol opened #47 "File renamed in DropBox backend is missed in oC server when we delete it without refreshing the browser"
### Steps to reproduce

0. Enable Dropbox app. (release/1.1.0).
1. Set up Dropbox mount point, grant access and so on. (all ok).
3. Create a file via WebUI
4. Rename it in the DropBox Backend
5. Without refreshing the oC WebUI page, delete the file.
6. Browse to the Trashbin

### Expected behaviour
The deleted file should appear renamed in the trasbin

### Actual behaviour

Trashbin is empty and t

[2018-12-13 13:36] davitol commented on #31
Reproduce too with the latest changes, using oC 10.0.10 and Tarball provide here: https://github.com/owncloud/files_external_dropbox/issues/10#issuecomment-442985547

[2018-12-14 09:33] davitol commented on #37
Test issues with oC 10.0.10 and tarball https://cloud.owncloud.com/index.php/s/KTwSnsPUmccpQpQ

Issues:
- [ ] 1.) Lowercase I

    Having the sync relationship setup successfully, all content gets first time synced (downloaded) to the local machine. In comparison to the DropBox (DB) Browser view or the DB client view, all files and folders are lower case.

- [ ] 2.) Lowercase II

    Create a file

[2018-12-14 10:20] davitol opened #48 "Cancel button do not work in conflict dialog when uploading files to a DropBox mount"
### Steps to reproduce

0. Enable Dropbox app. (release/1.1.0).
1. Set up Dropbox mount point, grant access and so on. (all ok).
3. Upload a file via WebUI called ```test.txt```
4. Try to Upload a file via WebUI called ```Test.txt```
5. Try to cancel the Pop up Dialog

### Expected behaviour
The pop up should be closed and no action should happen over ```test.txt``` file

### Actual behaviour

Can

[2018-12-14 10:56] davitol commented on #37
@mmattel

Are those 2 files hosted in your DropBox mount? Does your Dropbbox support case sensitive?

[2018-12-14 11:48] davitol commented on #44
Favorite mountpoints is not working properly
![favorite](https://user-images.githubusercontent.com/10596560/50001867-8371f780-ff9e-11e8-8e10-afc5c07da321.gif)

[2018-12-14 15:00] mmattel commented on #37
No, that was via the browser and the backend is Linux where this is possible. Then, syncing with DB gets confused.

[2018-12-17 09:45] davitol commented on #44
https://github.com/owncloud/files_external_dropbox/issues/37#issuecomment-447268760

[2018-12-17 12:40] davitol opened #49 "Versions of files are not created for files located in a DropBox mount"
### Steps to reproduce

0. Enable Dropbox app. (release/1.1.0).
1. Set up Dropbox mount point, grant access and so on. (all ok).
3. Upload a file via WebUI called ```test.txt```
4. Edit the file
5. Edit it again.
6. Browse to versions tab

### Expected behaviour
A version of the file should have been created

### Actual behaviour

No versions are created

### Server configuration

**Operating syst

[2018-12-17 12:43] davitol commented on #49
**Note:** Tested too in the same server with ```files_external_dropbox: 1.0.1```so it seems it is not a regression

[2018-12-17 13:07] davitol commented on #49
files_external_dropbox: 1.0.1 versioning is working fine in `demo.owncloud.com`So it is probably something different in my testing environment. I will retry again

[2018-12-17 13:33] davitol commented on #49
Works for me now, reinstalling from scratch. If I find how to make it stop working again, i wil reopen the issue

[2018-12-17 13:33] #49 closed

[2018-12-17 13:45] #44 closed

[2018-12-17 13:46] davitol commented on #10
@PVince81  Tarball is Qa-ready

[2018-12-18 16:10] #10 closed

[2019-01-04 14:06] mmattel opened #51 "Copying a file via client with an already existing name to a dropbox backend mount causes issues"
Referenced client issue: https://github.com/owncloud/client/issues/6947

### Expected behaviour
Copying a file with an already existing name to a DropBox backend mount should work without any error.

### Actual behaviour
Copying a file with an already existing name to a DropBox backend mount causes an error which will vanish after some minutes.

### Steps to reproduce
1. mount a DB as backend and

[2019-01-07 09:56] ckamm commented on #37
@davitol To check whether this might be a general client bug, I tested case "2.) Lowercase II" on Win10 against a server using standard linux filesystem storage. The case-rename is propagated correctly in that case, no extra files appear for me.

For now I assume this is something that can be solved in the dropbox app. If there's something the client could do to help, let me know.

[2019-02-05 14:37] PVince81 opened #52 "Case insensitive adjustments"
Seems flysystem added a new option, see release notes of https://github.com/owncloud/core/pull/34378

[2019-02-05 14:37] PVince81 commented on #33
See https://github.com/owncloud/files_external_dropbox/issues/52 for a new flysystem option.

I doubt this will fully solve the issue but might be worth a try

[2019-02-15 18:42] mmattel commented on #51
Same behaviour with oC 10.1.0.4 (production)

[2019-03-07 14:07] mmattel opened #54 "DropBox App performance"
Running the scan command as general example of performance, you see that the rate is less than 1s per item. I can also experience this low performance when accessing dropbox data via the browser or the client.

Imho, there is room for improvement for speeding up data access.

[code]

@DeepDiver1975 fyi

[2019-09-24 10:37] andyg2 opened #65 "Initial Dropbox Sync stops (forever) after 10 minutes"
My dropbox is around 380GB however only around 300MB syncs each time I setup the connection and grant access - the dropbox app provides access to entire dropbox.
Having tried this many times the only common denominator is that the sync stops without any errors after about 10 minutes.

The cron is set up as system cron and is working and I can confirm that after the initial sync, `syncStorage` is n

[2019-09-26 02:52] andyg2 commented on #65
Gave up with this plugin, I installed a headless dropbox client (as a user in the www-data group) and brought it into OC with a local external storage folder. Lightning fast.

[2019-10-31 03:59] phil-davis opened #69 "[PHP 7.3 comp] Files External Dropbox 1.2.0"
### Reason
With PHP 7.3 there are warnings like:
[code]

The current release of this app has `guzzlehttp/ringphp` 1.1.0

https://github.com/guzzle/RingPHP/releases/tag/1.1.1 has the PHP 7.3 changes, in particular https://github.com/guzzle/RingPHP/commit/80d4890f0770a67ab27d839df9db7f04268d0eb7 which will fix that warning.

That is in `master` of this app, but has not been released.

### QA

- [x]

[2019-12-05 08:27] micbar commented on #69
@davitol RC1 in https://github.com/owncloud/files_external_dropbox/releases/tag/v1.2.0RC1

[2019-12-05 17:32] davitol opened #75 "Tracking results for Dropbox External Storage Release 1.2.0"
## 'Files_external' Test Plan

## Previous requirements

Enable LDAP, external storage,

Have a LDAP server ready to be used with owncloud.

Have ready Dropbox external storage configuration.

## Testing setup

TestID | Test Case | Expected Result | Result | Related Comment
------------ | ------------- | -------------- | ----- | ------
 |  |  |   |
 | **DropBox as external storage** |  |   |
 |  |

[2019-12-05 17:33] davitol commented on #75
### Changelog

## [1.2.0]

### Changed
- Update dependencies - [#70](https://github.com/owncloud/files_external_dropbox/issues/70)
- Composer dependency bumps 20190730 - [#62](https://github.com/owncloud/files_external_dropbox/issues/62)
- Composer dependency bumps 20190529 - [#61](https://github.com/owncloud/files_external_dropbox/issues/61)
- Drop PHP 5.6 - [#55](https://github.com/owncloud/file

[2019-12-05 19:43] davitol opened #76 "Creation of a Dropbox mountpoint spots a log excepcion in owncloud.log"
Create a  Dropbox mountpoint in Settings-> Storage and a log will be shown in owncloud.log

Note: It also happens in files_external_dropbox 1.1.0 so it is **not a Regression.**

[code]

[2019-12-05 19:56] davitol commented on #69
@micbar Tarball is QA-ready see results here: https://github.com/owncloud/files_external_dropbox/issues/75

[2019-12-06 15:18] micbar commented on #75
Done

[2019-12-06 15:18] #75 closed

[2019-12-06 15:20] micbar commented on #69
Done.

[2019-12-06 15:20] #69 closed

[2020-03-10 15:12] #8 closed

[2020-04-20 11:13] jasson99 opened #86 "Does not accept League\Flysystem\Filesystem in Storage/dropbox::setFlysystem"
When working on updating phpstan for files_external_dropbox, this error is found:

[code]

The function including line 79 is:

[code]

And line 79 is:

[code]

[2020-04-20 12:15] phil-davis commented on #86
Maybe this is a real problem, or maybe it is safe to just override this in phpstan?
Someone who knows the code needs to look at it.

[2021-01-15 13:26] reberthkss opened #102 "Configuration error"
After trying grant permission, owncloud can't sync with dropbox.

Video:

https://user-images.githubusercontent.com/54030471/104732430-ff117600-571b-11eb-90dd-4d7fcbe8b051.mp4

[2021-01-27 13:37] taffod commented on #102
Me too.

[2021-01-29 19:18] pehlm commented on #102
As for me, tried many times with different dropbox apps.

[2021-01-29 20:53] reberthkss commented on #102
@ownclouders take your attention at here

[2021-01-30 11:17] taffod commented on #102
Is anyone aware of any plans to fix this?

[2021-08-19 15:49] mmattel opened #113 "Dropbox API needs an update to continue being operational"
Got the following reminder per eMail

**Dropbox API possibly needs an update**

We’ll be making a few updates around ID formats & tokens this September and to TLS support early next year—you’ll want to review to ensure your app handles these correctly.
Notice: TLS 1.0 & 1.1 Deprecation

Beginning February 1st 2022, the Dropbox API will require that calls use TLS 1.2. Traffic using TLS 1.0 or 1.1 w

[2022-03-28 18:14] domako commented on #113
As dropbox now only work with short lived tokens, new created connections do not work any more.
The setting that was available in dropbox to avoid the expiry does not exist anymore.

[2022-04-11 02:14] unalignedcoder opened #127 "Storage appears to be connected, but no files are shown"
Centos 7, Apache 2.4, Owncloud v10.9.1

Trying to set this up for user admin only

I get different results with Firefox or Chrome, both fails.

Basically, the storage connection to dropbox seems fine (green light).
When I switch to Files (in Firefox), it shows no files. Only the breadcrumb at the top (Home > Files). If I go into settings, it show I use 0 B!
When I switch to Files (in Chrome), it s

[2022-04-11 05:34] unalignedcoder commented on #127
The above problem seems to have been the result of migrating certain tables from a nextcloud installation.

In particular, `oc_properties ` had a wrong schema as a result of migration, and the column `fileid` could not be found.

Restoring the original schema seem to get this app to partially work, and other webdav functionalities that were broken as well.

Now I can see all the files as well as t

[2022-07-01 04:36] phil-davis opened #133 "Release 2.0.0 for Guzzle7"
for guzzle7 core issue https://github.com/owncloud/core/issues/39387

to release with oC core 10.11

### QA

- [x] Create **QA** Milestone and set the description to $version
- [ ] Move tickets from milestone `development` to `qa` (testplan and tickets mentioned in release ticket)
- [x] Create release branch with the format "release-$version"
- [ ] Create "$version Testplan" ([QA templates](https:

[2022-07-09 06:32] m-holstein opened #135 "Connection need Token refresh"
Hi,
is there a solution  for the token expiring?
Dropbox does retired the long live tokens.

In the current state the Dropbox storage is useless.

After a while the client gets a `Unauthorized`
https://dropbox.tech/developers/migrating-app-permissions-and-access-tokens

[2022-07-13 09:47] kiranadh1452 opened #137 "Check that files_external_dropbox is working OK after Guzzle7 core update for core 10.11"
Check the files_external_dropbox with core 10.10 and make sure that any existing problems have issues.

Try again with current core master (to be 10.11 release), and raise issues for any new problems.

Related to issue https://github.com/owncloud/core/issues/39387

[2022-07-13 09:48] kiranadh1452 commented on #137
## Core 10.11

- Mount Dropbox: :heavy_check_mark:
- View Files: :heavy_check_mark:
- Download Files: :heavy_check_mark:
- Delete Files: :heavy_check_mark:
- Upload Files: :x:  (Gives error message : `Call to undefined function GuzzleHttp\Psr7\stream_for()`)
- Rename Files: :heavy_check_mark:
- Federated Sharing of file: :heavy_check_mark:
- Federated Sharing of folder:
  - Upload inside the share

[2022-07-13 09:50] phil-davis commented on #137
To compare on ownCloud 10.10 you need to use the current release of the app, rather than current master of the app repo.

[2022-07-13 10:05] kiranadh1452 commented on #137
# Final Report

## Core 10.10

- Mount Dropbox: :heavy_check_mark:
- View Files: :heavy_check_mark:
- Download Files: :heavy_check_mark:
- Delete Files: :heavy_check_mark:
- Upload Files: :heavy_check_mark:
- Rename Files: :heavy_check_mark:
- Federated Sharing of file: :heavy_check_mark:
- Federated Sharing of folder: :heavy_check_mark:

## Core 10.11

- Mount Dropbox: :heavy_check_mark:
- View F

[2022-07-13 10:11] #137 closed

[2022-07-13 10:23] kiranadh1452 opened #138 "Can not upload file into External Dropbox Storage"
### Steps to reproduce
1. Install External Storage - Dropbox
2. Create a dropbox app [here](https://www.dropbox.com/developers/apps)
3. Use the App Key and App Secret to create a external storage in owncloud.
4. Click on Grant Access and complete the steps until messge stating `External storage has been added successfully
` is observed.
5. Go to the newly mounted external storage.
6. Try uploading

[2022-07-13 10:24] kiranadh1452 commented on #138
Based on: https://github.com/owncloud/files_external_dropbox/issues/137

[2022-07-14 06:03] phil-davis commented on #133
See issue #138 - IMO there is a bit more development work needed.

[2022-07-31 17:38] jnweiger commented on #138
Same here.
Seen with files_external_dropbox=2.0.0-rc.1 running on core 10.11.0-alpha.2
![image](https://user-images.githubusercontent.com/1108546/182038602-2cfe7ebf-420c-4c21-928e-3770bad1d090.png)

The server log says:
[code]

[2022-07-31 17:45] jnweiger commented on #138
The external drive remains empty, even after populating files on the dropbox server.
I assume, download is also affected, not only upload.

[2022-07-31 23:48] jnweiger opened #140 "[QA] cannot access or upload files"
Seen with files_external_dropbox 1.2.0 on core 10.10.0

* Upload some files into your dropbox account.
* Create an app 'jw-qa' at http://www.dropbox.com/developers with access to the entire account.
* Copy paste the key and secret from there,
* Paste the https://OWNCLOUD_SERVER_NAME/index.php/settings/admin?sectionid=storage url into Redirect URI
* Connect a 'Dropbox V2' external storage with key

[2022-07-31 23:49] jnweiger commented on #140
@kiranadh1452 In
![image](https://user-images.githubusercontent.com/1108546/182050469-055a097b-5c4a-4acf-8e95-d5b8fecb4a46.png)
you say, upload download works for you. Do you have any idea what could be wrong in my case?

[2022-08-01 00:36] jnweiger commented on #138
## Workaround
Patch the kunalvarma05/dropbox-php-sdk contained in files_external_dropbox:

[code]

[2022-08-01 00:57] jnweiger opened #141 "[QA] files_external_dropbox never checks for changes"
Seen with files_external_dropbox 2.0.0-rc.1 on core 10.11.0-alpha.2

* Upload a text file `thing.txt` into your dropbox account.
* Create an app 'jw-qa' at http://www.dropbox.com/developers with access to the entire account.
* Copy paste the key and secret from there,
* Paste the https://OWNCLOUD_SERVER_NAME/index.php/settings/admin?sectionid=storage url into Redirect URI
* Connect a 'Dropbox V2'

[2022-08-01 02:51] kiranadh1452 commented on #140
@jnweiger

I tried this again, it is still working.
Just to be sure, did you provide read/write access from the Dropbox app ?

[2022-08-01 03:55] phil-davis commented on #138
Step 1: https://github.com/Hemant-Mann/flysystem-dropbox/pull/2

`Hemant-Mann/flysystem-dropbox` is restricting the upstream `kunalvarma05/dropbox-php-sdk` to release 0.2. If that can go up to 0.4 then we can see if the problem is already fixed, and if not, then contribute.

[2022-08-01 06:43] phil-davis commented on #138
https://github.com/kunalvarma05/dropbox-php-sdk/pull/195 already has the fix, but it is waiting for review, merge and release.

https://github.com/Hemant-Mann/flysystem-dropbox/pull/2 has been merged. That lets us pull in the latest `kunalvarma05/dropbox-php-sdk` - which I did in PR #142 - but that is just a demo, and we still need a new release of `kunalvarma05/dropbox-php-sdk`

[2022-08-01 07:08] phil-davis commented on #138
`kunalvarma05/dropbox-php-sdk` 0.4.1 has been released a few  minutes ago. I updated PR #142

@jnweiger can you try the code from there easily?

If it improves things, then I will ask @Hemant-Mann to make an official release of `hemant-mann/flysystem-dropbox` which will allow all the upstream fixes.

[2022-08-01 08:15] jnweiger commented on #140
Thanks Kiran for double checking.
Yes, I already tried clicking all permission checkboxes. But that does not help.

It seems a bit random. Sometimes it works right from the beginning, sometimes it does not.
The working setup from yesterday night, now also fails.

[code]

Maybe it is really a token refresh problem, as asumed in #135 .

[2022-08-01 09:00] jnweiger commented on #135
Hello @m-holstein , thanks for your report.

I tried to reproduce. It seems the connection is working fine for a while, and (a few hours later?) it fails with permission denied.
Can you confirm this also what you see?

The owncloud.log has:
<tt>
{"reqId":"YueJ@pRO37tmmURCS1m3ggAAAAk","level":3,"time":"2022-08-01T08:08:27+00:00","remoteAddr":"89.204.135.225","user":"admin","app":"files_external_dro

[2022-08-01 09:14] kiranadh1452 commented on #140
@jnweiger

Just to ensure that it's not a problem in Dropbox app configuration, can you try using these credentials?

`client id` : 9hzcg4k5xsk2ypx
`client secret` : fxmmp3o4mb04gne

[2022-08-01 16:04] jnweiger opened #144 "[QA] overwriting existing files is unreliable"
Seen with both files_external_dropbox 2.0.0-rc.2 and files_external_dropbox-1.2.0

* Create an 'app' in dropbox, enable all checkboxes under `Individual Scopes`
* Create an external folder mount with dropboxV2 and key and secret of this 'app'
* enter the external dropbox folder.
* New -> TextFile, the texteditor opens (with noticable delay). OKish
* Start typeing text, watch the saving status in t

[2022-08-01 16:06] jnweiger commented on #140
Multiple issues are adding up here.  Disentangling:
a) Some permission settings on dropbox side require an extra click on a small confirmation button, that was hidden at the bottom of the screen.
b) Folders appeared empty due to #141
c) #144

Folowups in individual issues. Closing here.

[2022-08-01 16:06] #140 closed

[2022-08-01 16:12] jnweiger commented on #138
@phil-davis Re-Testing with
[code]

[2022-08-01 16:31] jnweiger commented on #135
With the existing 1.2.0 release, I repeatedly get the situation, that the connection to dropbox is broken after a few hours.

Another somewhat different variant in the log:
[code]

----

With the upcoming 2.0.0-rc.2 release, we pull in updated depenendencies, including new code for refresh tokens.
No disconnects so far with this!

[2022-08-10 22:28] jnweiger commented on #138
Closed fixed. Ready to release.

[2022-08-10 22:28] #138 closed

[2022-08-10 22:28] jnweiger commented on #133
#138 is fixed. QA passed. Releasing 2.0.0

[2022-08-11 02:28] #133 closed

[2022-11-17 11:36] jnweiger opened #151 "files_external_dropbox 2.0.1 release"
This is the server app release template, please copy the part below in a new ticket.
For instructions around app releases, see https://confluence.owncloud.com/display/OG/Releasing+Apps

### Reason

- Release needed for #147

### Product approval

- [ ] Verify transifex commits are in master: If a toplevel folder `l10n` exists, then `git log` should show '[tx] updated from transifex` ...
- [ ] Ping

[2022-11-17 15:35] jnweiger commented on #151
Tested basic function:
* connect to dropboxv2 via oauth2
* upload download remove files
* move files in and out of dropbox, rename shared folders.
OK.

[2022-11-18 00:17] #151 closed